header.header
	.header__wrapper
		.header__topline
			nav.header__nav
				ul.header__list-left
					li
						a(href="#") Home
					li
						a(href="#") About us
					li
						a(href="#") Team
			.header__logo-wrap
				.header__logo
			nav.header__nav
				ul.header__list-right
					li
						a(href="#") Services
					li
						a(href="#") Blog
					li
						a(href="#") Contact us
		.header__main
			.header__heading We build it with passion
			.header__subheading Just to be clear, we do this for fun not for you, just kidding.
			.header__button-wrap
				button.header__button Read more
		.header__dots