section.provide
	.provide__wrapper
		.provide__heading  We provide you everything
		.provide__subheading Maybe not everything, but we provide you some stuff.
		.provide__tiles-wrap
			.provide__tile
				.provide__tile-wrap
					i.provide__tile-icon--analytics
				.provide__tile-heading Some Analytics
				.provide__tile-text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo	
			.provide__tile
				.provide__tile-wrap
					i.provide__tile-icon--heart
				.provide__tile-heading We provide you love
				.provide__tile-text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo	
			.provide__tile
				.provide__tile-wrap
					i.provide__tile-icon--cloud
				.provide__tile-heading Some Analytics
				.provide__tile-text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo
		.provide__button-wrap
			button.provide__btn Visit our blog