section.team
	.team__wrapper
		.team__heading This is our team
		.team__subheading We are small but effective and ...
		.team__gallery
			.team__tile
				.team__photo
					img(src="../img/mark.jpg")
				.team__name Mark Once
				.team__worker Designer &amp; Front-End Developer
				.team__icons-tw
				.team__icons-in
			.team__tile
				.team__photo
					img(src="../img/justin.jpg")
				.team__name Justin Twice
				.team__worker Founder &amp; CEO
				i.team__icons-tw
				i.team__icons-in
			.team__tile
				.team__photo
					img(src="../img/antonio.jpg")
				.team__name Mark Once
				.team__worker Someone &amp; Somewhere
				i.team__icons-tw
				i.team__icons-in