section.timeline
	.timeline__wrapper
		.timeline__left
			.timeline__text1
				.timeline__heading 2011
				.timeline__info Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit.
			.timeline__text3
				.timeline__heading 2013
				.timeline__info Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit. Begitus vit urna nulla.
		.timeline__center
		.timeline__round-small--first
		.timeline__round-small--second
		.timeline__round-big--third
		.timeline__round-small--fourth
		.timeline__right
			.timeline__text2
				.timeline__heading 2012
				.timeline__info Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitur nisl. Ut odio libero, sodales a tellus eleifend, suscipit dapibus mi.
			.timeline__text4
				.timeline__heading 2014
				.timeline__info Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit. Begitus vit urna nulla.