html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_Inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

input:focus::-webkit-input-placeholder {
  color: transparent;
  outline: none; }

input:focus::-moz-placeholder {
  color: transparent;
  outline: none; }

input:focus:-moz-placeholder {
  color: transparent;
  outline: none; }

input:focus:-ms-input-placeholder {
  color: transparent;
  outline: none; }

textarea:focus {
  outline: none; }

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

img {
  height: auto;
  max-width: 100%;
  width: auto\9; }

ul {
  list-style: none; }

.hidden {
  display: none; }

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular_0.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Merriweather-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Merriweather-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "HelveticaNeueLTPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueLTPro-Lt.ttf") format("truetype"); }
@font-face {
  font-family: "HelveticaNeueLTPro-Md";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueLTPro-Md.ttf") format("truetype"); }
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-analytics, .provide__tile-icon--analytics {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -271px;
  width: 64px;
  height: 54px; }

.icon-cloud, .provide__tile-icon--cloud {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -325px;
  width: 64px;
  height: 55px; }

.icon-heart, .provide__tile-icon--heart {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -380px;
  width: 73px;
  height: 63px; }

.icon-instagram, .team__icons-in {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -31px;
  width: 21px;
  height: 20px; }

.icon-location, .contacts__icon--location {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -51px;
  width: 16px;
  height: 21px; }

.icon-logo, .header__logo {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -163px;
  width: 55px;
  height: 54px; }

.icon-mail, .contacts__icon--mail {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 19px;
  height: 13px; }

.icon-phone, .contacts__icon--phone {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -72px;
  width: 14px;
  height: 21px; }

.icon-point, .header__dots {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -217px;
  width: 10px;
  height: 54px; }

.icon-round-big, .timeline__round-big--third {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -117px;
  width: 46px;
  height: 46px; }

.icon-round-small, .timeline__round-small--first, .timeline__round-small--second, .timeline__round-small--fourth {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -93px;
  width: 24px;
  height: 24px; }

.icon-twitter, .team__icons-tw {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -13px;
  width: 21px;
  height: 18px; }

.header__wrapper, .timeline__wrapper, .team__wrapper, .provide__wrapper, .contacts__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.header__wrapper {
  position: relative; }
.header__topline {
  min-height: 54px;
  *zoom: 1; }
  .header__topline:before, .header__topline:after {
    content: " ";
    display: table; }
  .header__topline:after {
    clear: both; }
.header__nav {
  width: 42.91667%;
  float: left; }
.header li {
  display: inline-block;
  margin-right: 45px; }
  .header li:last-child {
    margin-right: 0; }
.header a {
  line-height: 54px;
  display: block;
  text-decoration: none;
  color: #010101;
  font-family: "Roboto-Regular";
  font-size: 13px;
  border-bottom: 2px solid transparent; }
  .header a:hover {
    border-bottom: 2px solid black; }
.header__logo {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
.header__logo-wrap {
  width: 14.16667%;
  float: left;
  position: relative; }
.header__list-left {
  float: right; }
.header__main {
  text-align: center;
  width: 100%;
  background-color: white;
  margin-top: 300px; }
.header__heading {
  color: #1D1E1F;
  font-family: "HelveticaNeueLTPro";
  font-size: 44px;
  line-height: 44px; }
.header__subheading {
  margin-top: 17px;
  color: #898888;
  font-family: "Merriweather-LightItalic";
  font-size: 16px;
  font-style: italic;
  line-height: 16px; }
.header__button {
  width: 188px;
  height: 57px;
  border: 1px solid #000;
  background-color: white;
  color: #000;
  font-family: "Montserrat-Regular";
  font-size: 13px;
  line-height: 13px;
  margin-top: 50px;
  margin-bottom: 380px;
  transition: 0.4s;
  border-radius: 4px; }
  .header__button:hover {
    background-color: black;
    color: white; }
.header__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 40px; }

.timeline {
  height: 1400px;
  background-color: #1D1D1D;
  background-image: url(../img/timeline-bg.png);
  background-repeat: no-repeat;
  background-position: center 1138px;
  position: relative; }
  .timeline__center {
    background-color: white;
    margin: 0 auto;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .timeline__left {
    max-width: 500px;
    float: left; }
  .timeline__right {
    max-width: 500px;
    float: right; }
  .timeline__info {
    color: #B7B7B7;
    font-family: "Montserrat-light";
    font-size: 15px; }
  .timeline__heading {
    color: #FEFEFE;
    font-family: "HelveticaNeueLTPro-Md";
    font-size: 48px; }
  .timeline__text1 {
    margin-top: 150px;
    margin-left: 10.83%;
    text-align: right; }
  .timeline__text3 {
    margin-top: 250px;
    margin-left: 10.83%;
    text-align: right; }
  .timeline__text2 {
    margin-top: 270px;
    margin-right: 10.83%; }
  .timeline__text4 {
    margin-top: 350px;
    margin-right: 10.83%; }
  .timeline__round-small--first {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .timeline__round-small--second {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .timeline__round-small--fourth {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .timeline__round-small--first {
    top: 170px; }
  .timeline__round-small--second {
    top: 295px; }
  .timeline__round-big--third {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 517px; }
  .timeline__round-small--fourth {
    top: 793px; }

.team {
  height: 750px;
  background-color: white;
  width: 100%;
  z-index: 9999;
  -webkit-transform: skewY(-7deg);
      -ms-transform: skewY(-7deg);
          transform: skewY(-7deg);
  position: relative;
  top: 150px; }
  .team__wrapper {
    position: relative;
    -webkit-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
            transform: skewY(7deg); }
  .team__tile {
    margin-top: 220px;
    text-align: center;
    width: 33%;
    float: left; }
    .team__tile:nth-child(2) {
      position: relative;
      top: -90px; }
  .team__heading, .contacts__heading {
    color: #1D1E1F;
    font-family: "HelveticaNeueLTPro";
    font-size: 34px;
    text-align: center;
    margin-top: 10px; }
  .team__subheading, .contacts__subheading {
    margin-top: 10px;
    color: #898888;
    font-family: "Merriweather-LightItalic";
    font-size: 16px;
    text-align: center; }
  .team__name {
    font-family: "HelveticaNeueLTPro";
    font-size: 24px;
    color: #464646; }
  .team__worker {
    color: #B3B3B3;
    font-family: "HelveticaNeueLTPro";
    font-weight: 500;
    font-size: 13px; }
  .team__photo {
    border-radius: 50%; }
  .team__icons-tw {
    display: inline-block;
    margin-right: 5px; }
  .team__icons-in {
    display: inline-block; }

.provide {
  min-height: 1600px;
  background-color: #181818;
  -webkit-transform: skewY(-7deg);
      -ms-transform: skewY(-7deg);
          transform: skewY(-7deg);
  position: relative;
  top: 150px; }
  .provide__wrapper {
    position: relative;
    -webkit-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
            transform: skewY(7deg);
    top: 300px;
    text-align: center; }
  .provide__heading {
    color: #FFF;
    font-family: "HelveticaNeueLTPro";
    font-size: 34px; }
  .provide__subheading {
    color: #777;
    font-family: "Merriweather-LightItalic";
    font-size: 16px; }
  .provide__tile {
    margin-top: 220px;
    display: inline-block;
    width: 33.12%;
    padding: 0 20px; }
  .provide__tile-wrap {
    width: 175px;
    height: 175px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    position: relative; }
  .provide__tile-icon--analytics {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .provide__tile-icon--heart {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .provide__tile-icon--cloud {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .provide__tile-heading {
    color: #FFF;
    font-family: "HelveticaNeueLTPro";
    font-size: 26px; }
  .provide__tile-text {
    color: #383838;
    font-family: "HelveticaNeueLTPro";
    font-size: 18px; }
  .provide__button-wrap {
    background-image: url(../img/provide-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 50%;
    margin: 0 auto; }
  .provide__btn {
    margin-top: 400px;
    width: 217px;
    height: 64px;
    background-color: #FFF;
    color: #000;
    font-family: "HelveticaNeueLTPro";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s; }
    .provide__btn:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0);
      outline: 2px solid white; }

.contacts {
  position: relative;
  top: 300px; }
  .contacts__tile-wrap {
    margin: 0 auto; }
  .contacts__tile {
    width: 33.12%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 60px; }
  .contacts__icon--phone {
    display: inline-block;
    margin: 0 auto; }
  .contacts__icon--location {
    display: inline-block;
    margin: 0 auto; }
  .contacts__icon--mail {
    display: inline-block;
    margin: 0 auto; }
  .contacts__text {
    color: #898888;
    font-family: "HelveticaNeueLTPro";
    font-size: 12px; }
  .contacts__copyright {
    width: 100%;
    color: #3B3B3B;
    font-family: "HelveticaNeueLTPro";
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px; }
  .contacts__form {
    max-width: 770px;
    margin: 0 auto 150px auto; }
  .contacts form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999;
    display: block;
    height: 50px;
    margin-bottom: 20px;
    text-indent: 15px;
    color: #898888;
    font-family: "HelveticaNeueLTPro";
    font-size: 15px;
    font-weight: 300; }
    .contacts form input::-webkit-input-placeholder {
      text-align: center; }
    .contacts form input::-moz-placeholder {
      text-align: center; }
    .contacts form input:-moz-placeholder {
      text-align: center; }
    .contacts form input:-ms-input-placeholder {
      text-align: center; }
  .contacts form button {
    color: #FEFEFE;
    font-family: "HelveticaNeueLTPro";
    font-size: 17px;
    width: 100%;
    height: 52px;
    background-color: #161616; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
