doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="description" content="Mountains travelling")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="lib/animate/animate.css")
		link(rel="stylesheet" href="css/style.css")
		title Title
	body
		<!--[if lt IE 9]>
		script(src="lib/html5shiv/es5-shim.min.js")
		script(src="lib/html5shiv/html5shiv.min.js")
		script(src="lib/html5shiv/html5shiv-printshiv.min.js")
		script(src="lib/respond/respond.min.js")
		<![endif]-->
		.loader
			.loader_Inner
		.hidden
		include includes/header.jade
		include includes/timeline.jade
		include includes/team.jade
		include includes/provide.jade
		include includes/contacts.jade
		script(src="lib/jquery/jquery-1.11.3.min.js")
		script(src="lib/modernizr/modernizr.js")
		script(src="lib/waypoints/waypoints.min.js")
		script(src="lib/stellar/jquery.stellar.min.js")
		script(src="lib/magnificpopup/jquery.magnific-popup.min.js")
		script(src="js/common.js")